PS1="%~ » "
alias ll='ls -alhF'

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64" )) -}}
# Rosland aliases
alias ros='arch -x86_64'
alias rbrew='arch -x86_64 /usr/local/bin/brew'

# pymssql on arm64
export LDFLAGS="-L/opt/homebrew/opt/freetds/lib -L/opt/homebrew/opt/openssl@3/lib"
export CFLAGS="-I/opt/homebrew/opt/freetds/include"
export CPPFLAGS="-I/opt/homebrew/opt/openssl@3/include"

# openjdk
export PATH="$PATH:/opt/homebrew/opt/openjdk/bin"

# Created by `userpath` on 2021-02-15 18:51:20
export PATH="$PATH:/Users/jamwil/.local/bin"
{{- end }}

export GPG_TTY=$(tty)

eval "$(pyenv init -)"

export RICH_THEME=monokai
