{{ if (eq .chezmoi.os "darwin") -}}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}

# Created by `userpath` on 2021-02-15 18:51:20
export PATH="$PATH:/Users/jamwil/.local/bin"

# pyenv
eval "$(pyenv init --path)"
