set breakindent
set clipboard=unnamed
set cursorline
set formatoptions=l
set lbr
set mouse=a
set number
set showcmd
set showmatch
set shiftwidth=4
set tabstop=4
set wrap!

nnoremap j gj
nnoremap k gk
nnoremap <C-s-tab> :tabprevious<CR>
nnoremap <C-tab> :tabnext<CR>

colorscheme nord

" python
source ~/.vim/.python-vimrc
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h set textwidth=88
set encoding=utf-8
let python_highlight_all=1
syntax on
filetype indent on
set autoindent
set foldmethod=indent

" text files
au FileType text set wrap
au FileType text set linebreak
au BufRead,BufNewFile *.md setlocal wrap
au BufRead,BufNewFile *.md setlocal linebreak
autocmd BufEnter * if &filetype == "" | setlocal ft=text | endif

" Add bracket completions
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap ( ()<left>
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap [ []<left>
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap { {}<left>
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap <expr> ) strpart(getline('.'), col('.')-1, 1) == ")" ? "\<Right>" : ")"
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap <expr> ] strpart(getline('.'), col('.')-1, 1) == "]" ? "\<Right>" : "]"
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h inoremap <expr> } strpart(getline('.'), col('.')-1, 1) == "}" ? "\<Right>" : "}"

" Set the GUI font
set guifont=Monaco:h12

