fork = true
frame = "full"
idle = true
maximized = false
# neovim-bin = "/usr/bin/nvim" # in reality found dynamically on $PATH if unset
no-multigrid = false
srgb = false
tabs = true
theme = "auto"
title-hidden = true
vsync = true
wsl = false

[font]
normal = ["Hack Nerd Font"]
{{- if eq .chezmoi.os "darwin" }}
size = 13.0
{{- else if eq .chezmoi.os "linux" }}
size = 7.0
{{- else }}
size = 11.0
{{ end }}
